:root {
  --WHITE: #ffffff;
  --Dark-bg: #2e2f42;
  --Light-bg: #f4f4fd;
  --button-color: #4d5ae5;
  --adress-links: #434455;
  --text-font-family: "Roboto", sans-serif;
  --what-are-you-doing-color: #e7e9fc;
  --portfolio-button-color: #404bbf;
}

/* Global styles */
body {
  font-family: var(--text-font-family);
  color: var(--adress-links);
  background-color: var(--WHITE);
}

/* Classes */
.header {
  display: inline-flex;
  /* background-color: var(--what-are-you-doing-color); */
}
.logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-left: 156px;
}
.logo-web {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 44px;
}
.logo-studio-header {
  color: var(--Dark-bg);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  width: 71px;
}
.menu-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 76px;
  list-style-type: none;
}
.nav-link {
  color: var(--Dark-bg);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.menu-nav a,
.adress-links a {
  color: var(--Dark-bg);
}
.menu-nav a:hover,
.menu-nav a:focus {
  color: red;
}
.adress-links a:hover,
.adress-links a:focus {
  color: green;
}
.adress-links {
  margin-left: 292px;
}
.adress-link {
  color: var(--adress-links);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  display: inline-flex;
  margin-left: 40px;
}
.nav-link a,
.adress-link a {
  text-decoration: none;
}
.hero-section {
  background-color: var(--Dark-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-title {
  width: 496px;
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}
.order-button {
  background: var(--button-color);
  color: var(--WHITE);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.strong-points-list {
  list-style: none;
  padding: 0;
  text-align: center; /* Center the list items horizontally */
}

.strong-points-section .strong-points-item {
  display: inline-block;
  margin: 0 10px; /* Add some margin between the list items if desired */
  text-align: left; /* Optionally, align text to the left within each list item */
}

.strong-points-section ul {
  list-style: none;
  text-align: center;
}
.strong-points-section {
  height: 104px;
  flex-shrink: 0;
  margin-left: 120px;
}
.strong-points-item {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.strong-points {
  color: var(--Dark-bg);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-left: 24px;
}
.section-title {
  color: var(--Dark-bg);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.what-are-we-doing-section {
  width: 1128px;
  height: 412px;
  flex-shrink: 0;
  background-color: var(--what-are-you-doing-color);
}
.examples {
  list-style: none;
  margin-left: 120px;
  text-align: center;
  margin-top: 72px;
}
.example {
  display: inline-block;
  margin-left: 24px;
}
.team {
  list-style: none;
  padding: 0;
  text-align: center; /* Center the list items horizontally */
}
.team-member {
  display: inline-block;
  margin-left: 24px;
  text-align: center;
}
.team {
  margin-left: 120px;
}
.our-team-section {
  background-color: var(--Light-bg);
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}
.team-member {
  background-color: var(--WHITE);
  display: inline-block;
  margin-left: 24px;
  text-align: center;
}
.footer-section {
  background: var(--Dark-bg);

  height: 112px;
  flex-shrink: 0;
}
.logo-studio-footer {
  color: var(--Light-bg);
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  width: 264px;
}
.footer-paragraph {
  color: var(--Light-bg);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  width: 264px;
  margin-left: 156px;
}

/* for Portfolio */
.filter-buttons {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  list-style-type: none;
  margin-left: 400px;
  margin-top: 96px;
}
.filter-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--what-are-you-doing-color);
  background: var(--Light-bg);
  color: var(--button-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--portfolio-button-color);
  color: var(--WHITE);
}
.row-items {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 76px;
  list-style-type: none;
  margin-top: 48px;
}
.project-title {
  color: var(--Dark-bg);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.project-field {
  color: var(--adress-links);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
